{% block head %}{% endblock %}
    <main class="poker-table">
        <ul class="player-nav-list">
            <ul class="placeholder-card-list">
                {% for place_id in ['1', '2', '3', '4', '5', '6'] %}
                    <li id="{{ place_id }}" class="placeholder-card-field">
                        {{ game.table_cards.place_id }}
                        {% for card_place, cards in game.table_cards.items() %}
                            {% if card_place == place_id %}
                                {% for card in cards %}
                                    <div class="card" style="top: 0; left: 0; transform: rotateZ(45deg);">
                                        <div class="card-info card-info_top-pos">
                                            {{ card }}
                                        </div>
                                        <div class="card-layout" alt="{{ card }}"></div>
                                        <div class="card-info card-info_low-pos">
                                            {{ card }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            {% for player in game.players %}
                <li class="player-item">
                    <span class="player-icon"><img src="/static/game/images/avatar.png"></span>
                    <strong class="player-description">
                        {% if player.player_id == i_player.player_id %}
                            <span class="player-name">You</span>
                            <div class="player-cards">
                                {% for card in player.cards %}
                                    <div {% if player.state %} class="card my-card active-player-card" draggable=true {% else %} class="card my-card" {% endif %} is_dragging=false>
                                        <div class="card-info card-info_top-pos">
                                            {{ card }}
                                        </div>
                                        <div class="card-layout" alt="{{ card }}"></div>
                                        <div class="card-info card-info_low-pos">
                                            {{ card }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <span class="player-name">{{ player.user.username }}</span>
                            <div class="player-cards">
                                {% for card in player.cards %}
                                    <div draggable=false {% if player.state %} class="card active-player-card" {% else %} class="card" {% endif %}>
                                        <img class="card-layout" src="/static/game/images/card-back-layout.png">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </strong>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer class="footer">
        <input type="hidden" id="csrf_token" value="{{ csrf_token() }}" />
        {% if not game.start %}
            {% if game.creator == i_player.user %}
                <form class="get-started-form" method="post" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="start-game" value="true" />
                    <input type="hidden" name="update-page" value="true" />
                    <input class="submit-button" type="submit" value="Start game"/>
                </form>
            {% endif %}
        {% endif %}
    </footer>
{% block body %}{% endblock %}