<! DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/gen-styles/normalise.css">
        <link rel="stylesheet" href="/static/game/styles/main.css">
        <title>Game</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>
            const lobby_id = {{ lobby_id }}
        </script>
        {% if request.path == "/game_lobby/" + lobby_id + "/" %}
            <script src="/static/game/scripts/ajax.js"></script>
        {% else %}
            <script src="/static/game/scripts/main.js"></script>
        {% endif %}
        <script src="/static/index/scripts/music.js"></script>
    </head>
    <body>
        <div class="body">
        {% if not game %}
            <form method="post">
                <input name="start" type="hidden" value="start"/>
                <input name="csrf_token" type="hidden" id="csrf_token" value="{{ csrf_token() }}" />
                <input type="submit" value="Start game" />
            </form>
        {% else %}
            <div class="game">
                {% include "game.html" %}
            </div>
        {% endif %}
        </div>
        <button id="music-button" class="music-button"></button>
    </body>
</html>