<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
    <form method="post">
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
        <input placeholder="Enter nickname..." name="username" type="text" required />
        <input placeholder="Enter password..." name="password" type="password" minlength="10" required />
        <input placeholder="Select your age..." name="age" type="number" required />
        <input placeholder="Enter email..." name="email" type="email" required />
        <input placeholder="(Optional) Enter your name..." name="name" type="text" />
        <input placeholder="(Optional) Enter your surname..." name="surname" type="text" />
        <input type="submit">
    </form>
</body>
</html>