@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
.main {
    background-color: #ece8e0;
    height: 800px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    font-family: 'Mochiy Pop P One', sans-serif;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 15px;
    width: 400px;
    height: 600px;
    box-shadow: 3px 3px 20px 4px #d5d5c2, 3px -3px 20px 4px #d5d5c2,
    -3px -3px 20px 4px #d5d5c2, -3px 3px 20px 4px #d5d5c2;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 300px;
}

.field {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: space-between;
}

.label-field:hover {
    cursor: pointer;
}

.submit-but {
    box-sizing: border-box;
    padding: 20px 20px;
    width: 200px;
}