 /* Общая конфигурации - настройка фона, шрифтов и отступов */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: PokerFace;
    src: url("../fonts/poker_font.ttf");
}

ul {
    list-style: none;
}

body {
    position: relative;
    height: 100vh;
    background-image: url('../images/poker-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior: contain;
}

.table-wrapper {
    width: 100%;
    height: 100vh;
}

.start-game__form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
}

@keyframes rainbow {
    0% {
        background: linear-gradient(90deg, #1c5233, #0b6732, #04913d, #00ff6b);
        background-clip: text;
        text-shadow: 5px 5px 2px greenyellow, -3px -2px 2px purple, 5px -4px 2px blue;
        filter: drop-shadow(5px 5px 3px white) drop-shadow(-5px -5px 3px white);
    }
    25% {
        background: linear-gradient(90deg, #00ff6b, #1c5233, #0b6732, #04913d);
        background-clip: text;
        text-shadow: -2px -1px 2px purple;
    }
    50% {
        background: linear-gradient(90deg, #04913d, #00ff6b, #1c5233, #0b6732);
        background-clip: text;
        text-shadow: 4px 4px 2px greenyellow, 4px -3px 2px blue;
        filter: drop-shadow(1px 1px 3px white) drop-shadow(-1px -1px 3px white);
    }
    75% {
        background: linear-gradient(90deg, #0b6732, #04913d, #00ff6b, #1c5233);
        background-clip: text;
    }
    100% {
        background: linear-gradient(90deg, #1c5233, #0b6732, #04913d, #00ff6b);
        background-clip: text;
        text-shadow: 5px 5px 2px greenyellow, -6px -4px 2px purple, 5px -4px 2px blue;
        filter: drop-shadow(5px 5px 3px white) drop-shadow(-5px -5px 3px white);
    }
}

#start-button {
    cursor: pointer;
    outline: none;
    border: none;
    color: #1c5233;
    filter: brightness(500%);
    font-size: 25px;
    animation: 0.25s infinite rainbow ease-in;
}

#start-button:hover {
    transform: translateY(3px);
}

.connected-users {
    float: right;
    background: rgba(47, 21, 21, 0.67);
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 35%;
    border-bottom-left-radius: 25px;
    box-shadow: -5px 5px 40px 20px #0c5460;
}

.connected-user__item {
    color: #7ad8e8;
    filter: brightness(150%);
    text-shadow: 1px 1px 10px #00bfa5;
}

.connected-user__item:not(:last-child) {
    margin-bottom: 15px;
}

.connected-user__item::before {
    content: "🎲";
    text-shadow: none;
    margin: 0 10px 0 10px;
    filter: drop-shadow(1px 1px 2px #ffcf31) invert(100%);
}

/* Позиционирование footer */

.footer {
    position: absolute;
    height: 50vh;
    width: 20%;
    top: 0;
    right: 0;
}

/* Позиционирование колоды */

.poker-table {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.deck,
.fake_card {
    position: absolute;
    height: 80px;
    width: 110px;
    top: 5%;
    left: 2%;
}

.deck .card,
.buffer-table .card{
    position: absolute;
    z-index: 102;
}

/* Позиционирование и трансформация содержимого колоды */

.deck .card:last-child,
.fake_card {
    z-index: 101;
    transform: rotateZ(90deg) translateY(-15px);
}

.fake_card {
    width: 80px;
    height: 110px;
    filter: drop-shadow(2px 2px 2px darkgray) drop-shadow(-2px -2px 2px darkgray) brightness(40%);
    z-index: 100;
}

/* Позиционирование и размеры поля для игры */

.player-nav-list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100vh;
    width: 100%;
}

/* Позиционирование и размеры ячеек для карт */

.placeholder-card-list {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 260px;
    flex-wrap: wrap;
}

/* Стилизация ячеек для карт */

.placeholder-card-field {
    position: relative;
    width: 80px;
    height: 110px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: auto;
}

/* Позиционирование пользовательской информации */

.player-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.player-description {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

/* Стилизация пользовательской информации */

.player-name {
    font-family: sans-serif, PokerFace;
    font-size: 30px;
}

.player-icon {
    display: block;
}

.player-icon img {
    max-width: 50px;
    max-height: 50px;
}

/* Позиционирование карт пользователя */

.player-cards {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    height: 110px;
}

.player-cards .trump-card .card-content {
    transform: rotateY(0deg);
}

/* Стилизация карт пользователя */

/* Подсветка неактивных карт */

.card {
    position: absolute;
    top: 0;
    box-shadow: -1px 1px 2px 2px rgba(255, 3, 3, 0.4);
    perspective: 500px;
    width: 80px;
    height: 110px;
    border-radius: 5px;
    cursor: grab;
    transition: transform 0.5s ease-in-out;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

/* Стиль для карт расположенных в ячейках для карт(снизу) */

.attack_card {
    top: 0;
    left: 8px;
    z-index: 0;
    transform: rotateZ(40deg);
}

/* Стиль для карт расположенных в ячейках для карт(сверху) */

.defend_card {
    top: 10px;
    left: -10px;
    z-index: 1;
    transform: rotateZ(-45deg);
}

/* Подсветка активных карт */

.active-player-card {
    box-shadow: -1px 1px 2px 2px rgb(0, 122, 47);
}

/* Позиционирование и размеры масти и цифры на карте */

.card-info {
    position: absolute;
    font-size: 20px;
}

.card-info_top-pos {
    top: 8px;
    left: 8px;
}

.card-info_low-pos {
    bottom: 8px;
    right: 8px;
}

/* Задний фон и размеры карт */

.card-back-layout {
    position: absolute;
    top: 0;
}

.card-layout {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/* Стиль для карт, перетаскиваемых пользователем */

.using-card {
    display: none;
}

/* Стиль для ячеек при наведении на них карт */

.hover-placeholder {
    box-shadow: 1px -1px 2px 2px rgb(73, 73, 73), -1px 1px 2px 2px rgb(73, 73, 73);
    filter: brightness(200%);
}

#music-button {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 5%;
    right: 5%;
    background-size: contain;
    background-image: url("../../index/images/stop-button.png");
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    z-index: 200;
}

#change_status_button {
    position: fixed;
    display: block;
    right: 8%;
    bottom: 5%;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: all 0.25s ease-in-out;
    z-index: 200;
}

.button-icon {
    --pixel: 0.5px;
    font-size: 80px;
    text-shadow: var(--pixel) var(--pixel) 0 gray,
                 calc(-1*var(--pixel)) calc(-1*var(--pixel)) 0 gray,
                 var(--pixel) calc(-1*var(--pixel)) 0 gray,
                 calc(-1*var(--pixel)) var(--pixel) 0 gray;
}

#change_status_button:hover .button-icon {
    text-shadow: 2px 2px 2px red, -2px -2px 2px red;
    filter: brightness(250%);
}

#music-button:focus {
    transform: translateY(2px);
}

.leave-button {
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.leave-button__icon {
    transform: scaleX(-100%);
    box-shadow: -2px 2px 2px 2px red;
}

.leave-button__icon:hover {
    box-shadow: -4px 3px 2px 2px darkred;
}

.timer {
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: black;
    font-family: PokerFace;
}