@media (max-width: 500px) {
    .connected-users {
        width: 45%;
    }

    .mobile-non-display {
        display: none;
    }

    :root {
        --card_resize: 1.25;
    }

    .placeholder-card-list {
        width: calc(320px*var(--card_resize));
        height: calc(260px*var(--card_resize));
    }

    .deck {
        width: calc(80px*var(--card_resize));
        height: calc(110px*var(--card_resize));
        left: calc(50% - 80px*var(--card_resize)/2);
        transform: rotateZ(90deg);
        top: 0;
    }

    .card,
    .placeholder-card-field,
    .fake_card {
        width: calc(80px*var(--card_resize));
        height: calc(110px*var(--card_resize));
    }

    .card-info {
        font-size: calc(20px*var(--card_resize));
    }

    .deck .card:last-child {
        transform: rotateZ(90deg) translateY(calc(-15px*var(--card_resize)));
        z-index: 0;
    }

    .fake_card {
        z-index: -1;
        left: calc(50% - 80px*var(--card_resize)/2);
        top: 0;
        transform: rotateZ(180deg) translateY(calc(-15px*var(--card_resize)));
    }

    #change_status_button {
        bottom: 81%;
        right: 70%;
    }

}